################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyMentoringTasks/v16
/CustomTaskScheduler/bin/Debug
/CustomTaskScheduler/obj/Debug
/CustomTaskSchedulerTests/bin/Debug
/CustomTaskSchedulerTests/obj/Debug
/.vs/slnx.sqlite
/CustomTaskScheduler/obj/Release
/CustomTaskSchedulerTests/obj/Release
/MyBestTaskSchedulerTests/bin/Debug
/MyBestTaskSchedulerTests/obj
/Expressions/obj/Debug
/Expressions/bin/Debug
/ExpressionsTests/obj/Debug
/ExpressionsTests/bin/Debug
/UnmanagedPowerStateLibraray/Debug/Unmanage.29278E13.tlog
/UnmanagedPowerStateLibraray/Debug
*.dll
*.exp
*.ilk
*.pdb
*.lib
*.dtbcache
*.xml
/InteropPowerStateLibraryTests/obj/Debug
/ManagedPowerStateLibrary/obj/Debug
/MyComServer/bin/Debug
/MyComServer/obj/Debug
/UnmanagedPowerStateLibraray/x64/Debug/Unmanage.29278E13.tlog
/UnmanagedPowerStateLibraray/x64/Debug/vc142.idb
/UnmanagedPowerStateLibraray/x64/Debug/UnmanagedPowerStateLibraray.vcxproj.FileListAbsolute.txt
/UnmanagedPowerStateLibraray/x64/Debug/UnmanagedPowerStateLibraray.pch
/UnmanagedPowerStateLibraray/x64/Debug/UnmanagedPowerStateLibraray.log
/UnmanagedPowerStateLibraray/x64/Debug/UnmanagedPowerStateLibraray.Build.CppClean.log
/UnmanagedPowerStateLibraray/x64/Debug/pch.obj
/UnmanagedPowerStateLibraray/x64/Debug/Library.obj
/UnmanagedPowerStateLibraray/x64/Debug/dllmain.obj
/MyKafka.Common/obj/Debug
/MyKafkaConsumerService/obj/Debug
/MyKafkaProducerService/bin/Debug
/MyKafkaProducerService/obj/Debug
/MyKafkaConsumerService/bin/Debug
/KeyGen/bin/Debug
/KeyGen/obj/Debug
/KeyGenerator/bin/Debug
/KeyGenerator/obj/Debug
/CodegenHelper/obj/Debug
