################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyMentoringTasks/v16
/CustomTaskScheduler/bin/Debug
/CustomTaskScheduler/obj/Debug
/CustomTaskSchedulerTests/bin/Debug
/CustomTaskSchedulerTests/obj/Debug
/.vs/slnx.sqlite
/CustomTaskScheduler/obj/Release
/CustomTaskSchedulerTests/obj/Release
/MyBestTaskSchedulerTests/bin/Debug
/MyBestTaskSchedulerTests/obj
/Expressions/obj/Debug
/Expressions/bin/Debug
/ExpressionsTests/obj/Debug
/ExpressionsTests/bin/Debug
/UnmanagedPowerStateLibraray/Debug/Unmanage.29278E13.tlog
/UnmanagedPowerStateLibraray/Debug
*.dll
*.exp
*.ilk
*.pdb
*.lib
